In [102]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

# 历史天气部分

## 将经纬度找到指定的county

In [103]:
historical_weather = pd.read_csv("../data/historical_weather.csv",parse_dates=['datetime'])
historical_weather

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.4,12.0,0.0,0.0,1015.8,4,4,0,0,6.694444,3,0.0,0.0,0.0,57.6,21.7,1
1,2021-09-01 00:00:00,14.0,12.0,0.0,0.0,1010.6,7,8,0,0,4.944444,353,0.0,0.0,0.0,57.6,22.2,1
2,2021-09-01 00:00:00,14.4,12.8,0.0,0.0,1014.9,6,7,0,0,5.833333,348,0.0,0.0,0.0,57.6,22.7,1
3,2021-09-01 00:00:00,15.4,13.0,0.0,0.0,1014.4,4,2,4,0,7.111111,349,0.0,0.0,0.0,57.6,23.2,1
4,2021-09-01 00:00:00,15.9,12.6,0.0,0.0,1013.8,12,7,0,20,8.388889,360,0.0,0.0,0.0,57.6,23.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710795,2023-05-30 10:00:00,10.8,4.1,0.4,0.0,1018.7,40,0,67,0,1.333333,283,440.0,264.0,176.0,59.7,26.2,637
1710796,2023-05-30 10:00:00,11.4,2.9,0.3,0.0,1018.8,41,0,69,0,1.527778,302,453.0,283.0,170.0,59.7,26.7,637
1710797,2023-05-30 10:00:00,9.5,3.2,0.1,0.0,1018.9,47,0,79,0,3.416667,302,477.0,312.0,165.0,59.7,27.2,637
1710798,2023-05-30 10:00:00,11.0,1.6,0.0,0.0,1018.6,31,0,52,0,3.472222,309,535.0,400.0,135.0,59.7,27.7,637
1710799,2023-05-30 10:00:00,11.5,1.3,0.0,0.0,1015.8,25,0,42,0,3.166667,305,550.0,420.0,130.0,59.7,28.2,637

In [104]:
historical_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710800 entries, 0 to 1710799
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   datetime                datetime64[ns]
 1   temperature             float64
 2   dewpoint                float64
 3   rain                    float64
 4   snowfall                float64
 5   surface_pressure        float64
 6   cloudcover_total        int64
 7   cloudcover_low          int64
 8   cloudcover_mid          int64
 9   cloudcover_high         int64
 10  windspeed_10m           float64
 11  winddirection_10m       int64
 12  shortwave_radiation     float64
 13  direct_solar_radiation  float64
 14  diffuse_radiation       float64
 15  latitude                float64
 16  longitude               float64
 17  data_block_id           int64
dtypes: datetime64[ns](1), float64(11), int64(6)
memory usage: 234.9 MB

In [105]:
historical_weather['year'] = historical_weather['datetime'].apply(lambda x: x.year)
historical_weather['month'] = historical_weather['datetime'].apply(lambda x: x.month)
historical_weather['day'] = historical_weather['datetime'].apply(lambda x: x.day)
historical_weather['hour'] = historical_weather['datetime'].apply(lambda x: x.hour)
historical_weather

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id,year,month,day,hour
0,2021-09-01 00:00:00,14.4,12.0,0.0,0.0,1015.8,4,4,0,0,6.694444,3,0.0,0.0,0.0,57.6,21.7,1,2021,9,1,0
1,2021-09-01 00:00:00,14.0,12.0,0.0,0.0,1010.6,7,8,0,0,4.944444,353,0.0,0.0,0.0,57.6,22.2,1,2021,9,1,0
2,2021-09-01 00:00:00,14.4,12.8,0.0,0.0,1014.9,6,7,0,0,5.833333,348,0.0,0.0,0.0,57.6,22.7,1,2021,9,1,0
3,2021-09-01 00:00:00,15.4,13.0,0.0,0.0,1014.4,4,2,4,0,7.111111,349,0.0,0.0,0.0,57.6,23.2,1,2021,9,1,0
4,2021-09-01 00:00:00,15.9,12.6,0.0,0.0,1013.8,12,7,0,20,8.388889,360,0.0,0.0,0.0,57.6,23.7,1,2021,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710795,2023-05-30 10:00:00,10.8,4.1,0.4,0.0,1018.7,40,0,67,0,1.333333,283,440.0,264.0,176.0,59.7,26.2,637,2023,5,30,10
1710796,2023-05-30 10:00:00,11.4,2.9,0.3,0.0,1018.8,41,0,69,0,1.527778,302,453.0,283.0,170.0,59.7,26.7,637,2023,5,30,10
1710797,2023-05-30 10:00:00,9.5,3.2,0.1,0.0,1018.9,47,0,79,0,3.416667,302,477.0,312.0,165.0,59.7,27.2,637,2023,5,30,10
1710798,2023-05-30 10:00:00,11.0,1.6,0.0,0.0,1018.6,31,0,52,0,3.472222,309,535.0,400.0,135.0,59.7,27.7,637,2023,5,30,10
1710799,2023-05-30 10:00:00,11.5,1.3,0.0,0.0,1015.8,25,0,42,0,3.166667,305,550.0,420.0,130.0,59.7,28.2,637,2023,5,30,10

In [106]:
historical_weather['latitude'] = historical_weather['latitude'].astype(float).round(1)
historical_weather['longitude'] = historical_weather['longitude'].astype(float).round(1)
historical_weather

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id,year,month,day,hour
0,2021-09-01 00:00:00,14.4,12.0,0.0,0.0,1015.8,4,4,0,0,6.694444,3,0.0,0.0,0.0,57.6,21.7,1,2021,9,1,0
1,2021-09-01 00:00:00,14.0,12.0,0.0,0.0,1010.6,7,8,0,0,4.944444,353,0.0,0.0,0.0,57.6,22.2,1,2021,9,1,0
2,2021-09-01 00:00:00,14.4,12.8,0.0,0.0,1014.9,6,7,0,0,5.833333,348,0.0,0.0,0.0,57.6,22.7,1,2021,9,1,0
3,2021-09-01 00:00:00,15.4,13.0,0.0,0.0,1014.4,4,2,4,0,7.111111,349,0.0,0.0,0.0,57.6,23.2,1,2021,9,1,0
4,2021-09-01 00:00:00,15.9,12.6,0.0,0.0,1013.8,12,7,0,20,8.388889,360,0.0,0.0,0.0,57.6,23.7,1,2021,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710795,2023-05-30 10:00:00,10.8,4.1,0.4,0.0,1018.7,40,0,67,0,1.333333,283,440.0,264.0,176.0,59.7,26.2,637,2023,5,30,10
1710796,2023-05-30 10:00:00,11.4,2.9,0.3,0.0,1018.8,41,0,69,0,1.527778,302,453.0,283.0,170.0,59.7,26.7,637,2023,5,30,10
1710797,2023-05-30 10:00:00,9.5,3.2,0.1,0.0,1018.9,47,0,79,0,3.416667,302,477.0,312.0,165.0,59.7,27.2,637,2023,5,30,10
1710798,2023-05-30 10:00:00,11.0,1.6,0.0,0.0,1018.6,31,0,52,0,3.472222,309,535.0,400.0,135.0,59.7,27.7,637,2023,5,30,10
1710799,2023-05-30 10:00:00,11.5,1.3,0.0,0.0,1015.8,25,0,42,0,3.166667,305,550.0,420.0,130.0,59.7,28.2,637,2023,5,30,10

In [107]:
weather_to_county = pd.read_csv("../data/weather_station_to_county_mapping.csv")
weather_to_county

    county_name  longitude  latitude  county
0           NaN       21.7      57.6     NaN
1           NaN       21.7      57.9     NaN
2           NaN       21.7      58.2     NaN
3           NaN       21.7      58.5     NaN
4           NaN       21.7      58.8     NaN
..          ...        ...       ...     ...
107         NaN       28.2      58.5     NaN
108         NaN       28.2      58.8     NaN
109         NaN       28.2      59.1     NaN
110         NaN       28.2      59.4     NaN
111         NaN       28.2      59.7     NaN

[112 rows x 4 columns]

In [108]:
historical_weather.groupby(by=["longitude","latitude"])["data_block_id"].describe().unstack()

             count                                                        \
latitude      57.6     57.9     58.2     58.5     58.8     59.1     59.4
longitude
21.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
22.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
22.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
23.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
23.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
24.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
24.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
25.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
25.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
26.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
26.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
27.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
27.7       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0
28.2       15275.0  15275.0  15275.0  15275.0  15275.0  15275.0  15275.0

                          mean                                      \
latitude      59.7        57.6        57.9        58.2        58.5
longitude
21.7       15275.0  319.270638  319.270638  319.270638  319.270638
22.2       15275.0  319.270638  319.270638  319.270638  319.270638
22.7       15275.0  319.270638  319.270638  319.270638  319.270638
23.2       15275.0  319.270638  319.270638  319.270638  319.270638
23.7       15275.0  319.270638  319.270638  319.270638  319.270638
24.2       15275.0  319.270638  319.270638  319.270638  319.270638
24.7       15275.0  319.270638  319.270638  319.270638  319.270638
25.2       15275.0  319.270638  319.270638  319.270638  319.270638
25.7       15275.0  319.270638  319.270638  319.270638  319.270638
26.2       15275.0  319.270638  319.270638  319.270638  319.270638
26.7       15275.0  319.270638  319.270638  319.270638  319.270638
27.2       15275.0  319.270638  319.270638  319.270638  319.270638
27.7       15275.0  319.270638  319.270638  319.270638  319.270638
28.2       15275.0  319.270638  319.270638  319.270638  319.270638

                                                                 std  \
latitude         58.8        59.1        59.4        59.7       57.6
longitude
21.7       319.270638  319.270638  319.270638  319.270638  183.73582
22.2       319.270638  319.270638  319.270638  319.270638  183.73582
22.7       319.270638  319.270638  319.270638  319.270638  183.73582
23.2       319.270638  319.270638  319.270638  319.270638  183.73582
23.7       319.270638  319.270638  319.270638  319.270638  183.73582
24.2       319.270638  319.270638  319.270638  319.270638  183.73582
24.7       319.270638  319.270638  319.270638  319.270638  183.73582
25.2       319.270638  319.270638  319.270638  319.270638  183.73582
25.7       319.270638  319.270638  319.270638  319.270638  183.73582
26.2       319.270638  319.270638  319.270638  319.270638  183.73582
26.7       319.270638  319.270638  319.270638  319.270638  183.73582
27.2       319.270638  319.270638  319.270638  319.270638  183.73582
27.7       319.270638  319.270638  319.270638  319.270638  183.73582
28.2       319.270638  319.270638  319.270638  319.270638  183.73582

                                                                             \
latitude        57.9       58.2       58.5       58.8       59.1       59.4
longitude
21.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
22.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
22.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
23.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
23.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
24.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
24.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
25.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
25.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
26.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
26.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
27.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
27.7       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582
28.2       183.73582  183.73582  183.73582  183.73582  183.73582  183.73582

                      min                                       25%         \
latitude        59.7 57.6 57.9 58.2 58.5 58.8 59.1 59.4 59.7   57.6   57.9
longitude
21.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
22.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
22.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
23.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
23.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
24.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
24.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
25.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
25.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
26.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
26.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
27.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
27.7       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0
28.2       183.73582  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  160.0  160.0

                                                       50%                \
latitude    58.2   58.5   58.8   59.1   59.4   59.7   57.6   57.9   58.2
longitude
21.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
22.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
22.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
23.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
23.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
24.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
24.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
25.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
25.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
26.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
26.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
27.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
27.7       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0
28.2       160.0  160.0  160.0  160.0  160.0  160.0  319.0  319.0  319.0

                                                75%                       \
latitude    58.5   58.8   59.1   59.4   59.7   57.6   57.9   58.2   58.5
longitude
21.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
22.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
22.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
23.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
23.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
24.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
24.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
25.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
25.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
26.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
26.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
27.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
27.7       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0
28.2       319.0  319.0  319.0  319.0  319.0  478.0  478.0  478.0  478.0

                                         max                              \
latitude    58.8   59.1   59.4   59.7   57.6   57.9   58.2   58.5   58.8
longitude
21.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
22.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
22.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
23.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
23.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
24.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
24.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
25.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
25.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
26.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
26.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
27.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
27.7       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0
28.2       478.0  478.0  478.0  478.0  637.0  637.0  637.0  637.0  637.0


latitude    59.1   59.4   59.7
longitude
21.7       637.0  637.0  637.0
22.2       637.0  637.0  637.0
22.7       637.0  637.0  637.0
23.2       637.0  637.0  637.0
23.7       637.0  637.0  637.0
24.2       637.0  637.0  637.0
24.7       637.0  637.0  637.0
25.2       637.0  637.0  637.0
25.7       637.0  637.0  637.0
26.2       637.0  637.0  637.0
26.7       637.0  637.0  637.0
27.2       637.0  637.0  637.0
27.7       637.0  637.0  637.0
28.2       637.0  637.0  637.0

In [109]:
weather_to_county.groupby(by=["longitude","latitude"])["county"].describe().unstack().count()

       latitude
count  57.6        14
       57.9        14
       58.2        14
       58.5        14
       58.8        14
                   ..
max    58.5        11
       58.8         8
       59.1         9
       59.4         8
       59.7         0
Length: 64, dtype: int64

In [110]:
location = pd.read_csv("../data/county_lon_lats.csv").drop(columns = ["Unnamed: 0"])

# Convert to int to avoid float imprecision
for k in ['latitude', 'longitude'] :
    location[k] = (10*location[k]).astype(int)

location

    county  longitude  latitude
0        0        242       591
1        0        252       591
2        0        237       594
3        0        242       594
4        0        247       594
..     ...        ...       ...
70      15        267       576
71      15        272       576
72      15        267       579
73      15        272       579
74      15        277       579

[75 rows x 3 columns]

In [111]:
def process_weather_info(h, location=location) :

    # Drop duplicates
    h = h.drop_duplicates().reset_index(drop=True)

    # Convert to int to avoid float imprecision
    for k in ['latitude', 'longitude'] :
        h[k] = (10*h[k]).astype(int)

    # Add location
    h = pd.merge(h, location, how='left', on=['latitude', 'longitude'])

    # Fill NaN and force int
    h['county'] = h['county'].fillna(-1).astype(int)

    # Return
    return h

In [112]:
historical_weather = process_weather_info(historical_weather)
historical_weather
#成功将经纬度找到county

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id,year,month,day,hour,county
0,2021-09-01 00:00:00,14.4,12.0,0.0,0.0,1015.8,4,4,0,0,6.694444,3,0.0,0.0,0.0,576,217,1,2021,9,1,0,-1
1,2021-09-01 00:00:00,14.0,12.0,0.0,0.0,1010.6,7,8,0,0,4.944444,353,0.0,0.0,0.0,576,222,1,2021,9,1,0,-1
2,2021-09-01 00:00:00,14.4,12.8,0.0,0.0,1014.9,6,7,0,0,5.833333,348,0.0,0.0,0.0,576,227,1,2021,9,1,0,-1
3,2021-09-01 00:00:00,15.4,13.0,0.0,0.0,1014.4,4,2,4,0,7.111111,349,0.0,0.0,0.0,576,232,1,2021,9,1,0,10
4,2021-09-01 00:00:00,15.9,12.6,0.0,0.0,1013.8,12,7,0,20,8.388889,360,0.0,0.0,0.0,576,237,1,2021,9,1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710795,2023-05-30 10:00:00,10.8,4.1,0.4,0.0,1018.7,40,0,67,0,1.333333,283,440.0,264.0,176.0,597,262,637,2023,5,30,10,5
1710796,2023-05-30 10:00:00,11.4,2.9,0.3,0.0,1018.8,41,0,69,0,1.527778,302,453.0,283.0,170.0,597,267,637,2023,5,30,10,5
1710797,2023-05-30 10:00:00,9.5,3.2,0.1,0.0,1018.9,47,0,79,0,3.416667,302,477.0,312.0,165.0,597,272,637,2023,5,30,10,-1
1710798,2023-05-30 10:00:00,11.0,1.6,0.0,0.0,1018.6,31,0,52,0,3.472222,309,535.0,400.0,135.0,597,277,637,2023,5,30,10,-1
1710799,2023-05-30 10:00:00,11.5,1.3,0.0,0.0,1015.8,25,0,42,0,3.166667,305,550.0,420.0,130.0,597,282,637,2023,5,30,10,-1

保存成新的csv，成功后就不运行了

In [113]:
# historical_weather.to_csv('../data/historical_weather_New.csv')

In [114]:
historical_weather = historical_weather.drop_duplicates(['data_block_id','county'])

In [115]:
import seaborn as sns
import matplotlib.pyplot as plt

In [116]:
train = pd.read_csv("../data/train.csv",parse_dates=['datetime'])
train['county'] = train['county'].astype(int)
train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2
...,...,...,...,...,...,...,...,...,...
1048570,7,0,1,16.237,0,2022-08-02 20:00:00,335,1048570,25
1048571,7,0,1,46.429,1,2022-08-02 20:00:00,335,1048571,25
1048572,7,0,3,49.939,0,2022-08-02 20:00:00,335,1048572,27
1048573,7,0,3,118.012,1,2022-08-02 20:00:00,335,1048573,27
1048574,7,1,0,9.030,0,2022-08-02 20:00:00,335,1048574,28

In [117]:
train['year'] = train['datetime'].apply(lambda x: x.year)
train['month'] = train['datetime'].apply(lambda x: x.month)
train['day'] = train['datetime'].apply(lambda x: x.day)
train['hour'] = train['datetime'].apply(lambda x: x.hour)
train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,year,month,day,hour
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0,2021,9,1,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0,2021,9,1,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1,2021,9,1,0
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1,2021,9,1,0
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2,2021,9,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,7,0,1,16.237,0,2022-08-02 20:00:00,335,1048570,25,2022,8,2,20
1048571,7,0,1,46.429,1,2022-08-02 20:00:00,335,1048571,25,2022,8,2,20
1048572,7,0,3,49.939,0,2022-08-02 20:00:00,335,1048572,27,2022,8,2,20
1048573,7,0,3,118.012,1,2022-08-02 20:00:00,335,1048573,27,2022,8,2,20
1048574,7,1,0,9.030,0,2022-08-02 20:00:00,335,1048574,28,2022,8,2,20

In [118]:
train_new= train[['county', 'data_block_id', 'target','is_consumption','is_business','product_type','hour']]
train_new_is_consumption = train_new[train_new['is_consumption']==1]
train_new_is_consumption

,county,data_block_id,target,is_consumption,is_business,product_type,hour
1,0,0,96.590,1,0,1,0
3,0,0,17.314,1,0,2,0
5,0,0,656.859,1,0,3,0
7,0,0,59.000,1,1,0,0
9,0,0,501.760,1,1,1,0
...,...,...,...,...,...,...,...
1048565,5,335,70.632,1,1,1,20
1048567,5,335,676.373,1,1,3,20
1048569,6,335,217.705,1,1,3,20
1048571,7,335,46.429,1,0,1,20
1048573,7,335,118.012,1,0,3,20

In [119]:
train_group_by = train.groupby('county')['target'].describe()
train_group_by

,count,mean,std,min,25%,50%,75%,max
county,,,,,,,,
0,111386.0,825.153596,2025.957999,0.0,0.59400,49.5170,486.45450,13896.422
1,48354.0,34.586789,54.362684,0.0,0.14200,11.7590,51.80975,435.548
2,57178.0,165.276639,454.781636,0.0,0.11600,17.3470,67.86225,3036.604
3,64472.0,149.659002,284.397083,0.0,0.01500,30.3975,106.64050,1702.566
4,74736.0,123.313065,202.551501,0.0,0.08700,18.3770,154.63000,1248.623
5,79102.0,221.358705,361.202753,0.0,0.90300,51.4800,199.71750,1894.246
6,16118.0,62.189757,67.177602,0.0,0.00500,40.9170,120.59825,269.434
7,91095.0,174.789969,277.250895,0.0,0.20400,41.6850,233.49300,1682.319
8,48348.0,64.331945,99.989932,0.0,0.11400,17.2795,81.71350,627.347
9,64464.0,74.251710,105.445073,0.0,0.07700,34.5055,111.03625,999.989
10,69262.0,192.507660,380.167158,0.0,0.42100,31.1345,124.01600,2159.071
11,103982.0,450.668154,1149.600669,0.0,0.16700,26.5700,298.27050,7380.945
12,16116.0,254.864311,280.406352,0.0,0.55000,159.4045,469.44550,1076.369
13,63024.0,117.784946,274.477843,0.0,0.04100,12.7725,58.76775,1771.127
14,64464.0,249.099234,502.386610,0.0,2.33375,42.9745,170.33625,3190.634
15,76214.0,101.844729,155.620599,0.0,2.18225,34.9005,127.07150,1349.640

In [120]:
merged_is_consumption = pd.merge(train_new_is_consumption, historical_weather,how='left', on=['data_block_id', 'county','hour'])

In [121]:
merged_is_consumption

,county,data_block_id,target,is_consumption,is_business,product_type,hour,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,year,month,day
0,0,0,96.590,1,0,1,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,17.314,1,0,2,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,656.859,1,0,3,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,59.000,1,1,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,501.760,1,1,1,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524282,5,335,70.632,1,1,1,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524283,5,335,676.373,1,1,3,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524284,6,335,217.705,1,1,3,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524285,7,335,46.429,1,0,1,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524286,7,335,118.012,1,0,3,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
train_new_no_consumption = train_new[train_new['is_consumption']==0]

In [123]:
merged_no_consumption  = pd.merge(train_new_no_consumption, historical_weather,how='left', on=['data_block_id', 'county','hour'])

In [124]:
merged_no_consumption

,county,data_block_id,target,is_consumption,is_business,product_type,hour,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,year,month,day
0,0,0,0.713,0,0,1,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,0.000,0,0,2,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2.904,0,0,3,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,0.000,0,1,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,0.000,0,1,1,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524283,5,335,24.534,0,1,3,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524284,6,335,6.001,0,1,3,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524285,7,335,16.237,0,0,1,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524286,7,335,49.939,0,0,3,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524287,7,335,9.030,0,1,0,20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
merged_is_consumption = merged_is_consumption .dropna()
merged_no_consumption = merged_no_consumption .dropna()
merged_no_consumption
merged_is_consumption

,county,data_block_id,target,is_consumption,is_business,product_type,hour,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,year,month,day
1464,0,1,109.366,1,0,1,0,2021-09-01 00:00:00,13.4,11.0,0.0,0.0,1009.2,38.0,42.0,0.0,0.0,3.500000,336.0,0.0,0.0,0.0,591.0,242.0,2021.0,9.0,1.0
1465,0,1,21.008,1,0,2,0,2021-09-01 00:00:00,13.4,11.0,0.0,0.0,1009.2,38.0,42.0,0.0,0.0,3.500000,336.0,0.0,0.0,0.0,591.0,242.0,2021.0,9.0,1.0
1466,0,1,735.696,1,0,3,0,2021-09-01 00:00:00,13.4,11.0,0.0,0.0,1009.2,38.0,42.0,0.0,0.0,3.500000,336.0,0.0,0.0,0.0,591.0,242.0,2021.0,9.0,1.0
1467,0,1,75.800,1,1,0,0,2021-09-01 00:00:00,13.4,11.0,0.0,0.0,1009.2,38.0,42.0,0.0,0.0,3.500000,336.0,0.0,0.0,0.0,591.0,242.0,2021.0,9.0,1.0
1468,0,1,502.241,1,1,1,0,2021-09-01 00:00:00,13.4,11.0,0.0,0.0,1009.2,38.0,42.0,0.0,0.0,3.500000,336.0,0.0,0.0,0.0,591.0,242.0,2021.0,9.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523723,15,335,12.906,1,0,1,11,2022-07-31 11:00:00,18.2,9.7,0.0,0.0,1005.8,30.0,0.0,0.0,99.0,0.555556,45.0,593.0,464.0,129.0,576.0,267.0,2022.0,7.0,31.0
523724,15,335,16.764,1,0,3,11,2022-07-31 11:00:00,18.2,9.7,0.0,0.0,1005.8,30.0,0.0,0.0,99.0,0.555556,45.0,593.0,464.0,129.0,576.0,267.0,2022.0,7.0,31.0
523725,15,335,677.150,1,1,0,11,2022-07-31 11:00:00,18.2,9.7,0.0,0.0,1005.8,30.0,0.0,0.0,99.0,0.555556,45.0,593.0,464.0,129.0,576.0,267.0,2022.0,7.0,31.0
523726,15,335,39.539,1,1,1,11,2022-07-31 11:00:00,18.2,9.7,0.0,0.0,1005.8,30.0,0.0,0.0,99.0,0.555556,45.0,593.0,464.0,129.0,576.0,267.0,2022.0,7.0,31.0
523727,15,335,635.069,1,1,3,11,2022-07-31 11:00:00,18.2,9.7,0.0,0.0,1005.8,30.0,0.0,0.0,99.0,0.555556,45.0,593.0,464.0,129.0,576.0,267.0,2022.0,7.0,31.0

# 开始计算相关性（以county=0，product_type=1为例子）
## 生产target的相关性
### 生产且商用和target的相关性

In [126]:
merged_is_consumption_is_business = merged_is_consumption[(merged_is_consumption['county']==0)&(merged_is_consumption['product_type']==1)&(merged_is_consumption['is_business']==1)]
merged_is_consumption_is_business.corr().loc['target']

county                         NaN
data_block_id            -0.517820
target                    1.000000
is_consumption                 NaN
is_business                    NaN
product_type                   NaN
hour                      0.033814
datetime                 -0.517845
temperature              -0.649957
dewpoint                 -0.537002
rain                     -0.135104
snowfall                  0.200046
surface_pressure         -0.220986
cloudcover_total          0.312041
cloudcover_low            0.372756
cloudcover_mid            0.118293
cloudcover_high           0.046511
windspeed_10m             0.081326
winddirection_10m        -0.037214
shortwave_radiation      -0.696586
direct_solar_radiation   -0.606428
diffuse_radiation        -0.688409
latitude                       NaN
longitude                      NaN
year                     -0.423142
month                     0.224056
day                      -0.041914
Name: target, dtype: float64

### 生产且非商用和target相关性

In [127]:
merged_is_consumption_no_business = merged_is_consumption[(merged_is_consumption['county']==0)&(merged_is_consumption['product_type']==1)&(merged_is_consumption['is_business']==0)]
merged_is_consumption_no_business.corr().loc['target']

county                         NaN
data_block_id            -0.254746
target                    1.000000
is_consumption                 NaN
is_business                    NaN
product_type                   NaN
hour                      0.029097
datetime                 -0.254763
temperature              -0.741181
dewpoint                 -0.640652
rain                     -0.101000
snowfall                  0.294615
surface_pressure         -0.410937
cloudcover_total          0.311660
cloudcover_low            0.349639
cloudcover_mid            0.186548
cloudcover_high           0.034303
windspeed_10m             0.095834
winddirection_10m        -0.002522
shortwave_radiation      -0.672770
direct_solar_radiation   -0.574496
diffuse_radiation        -0.694033
latitude                       NaN
longitude                      NaN
year                     -0.074624
month                    -0.107326
day                      -0.028584
Name: target, dtype: float64

### 有上图可知天气对商用和非商用用电的影响差别较低，生产用电都和温度，地表压力，辐射有高的相似度，和降雪，总体云层，最低云层具有较高相似度

### 消耗且非商用和target的相关性

In [128]:
merged_no_consumption_no_business = merged_no_consumption[(merged_no_consumption['county']==0)&(merged_no_consumption['product_type']==1)&(merged_no_consumption['is_business']==0)]
merged_no_consumption_no_business.corr().loc['target']

county                         NaN
data_block_id             0.756872
target                    1.000000
is_consumption                 NaN
is_business                    NaN
product_type                   NaN
hour                      0.048885
datetime                  0.756878
temperature               0.603200
dewpoint                  0.437568
rain                      0.131214
snowfall                 -0.170011
surface_pressure          0.226435
cloudcover_total         -0.323466
cloudcover_low           -0.401883
cloudcover_mid           -0.108221
cloudcover_high          -0.019711
windspeed_10m            -0.226582
winddirection_10m        -0.040759
shortwave_radiation       0.772540
direct_solar_radiation    0.693803
diffuse_radiation         0.708131
latitude                       NaN
longitude                      NaN
year                      0.552337
month                    -0.221068
day                       0.056068
Name: target, dtype: float64

### 消耗且商用和target的相关性

In [129]:
merged_no_consumption_is_business = merged_no_consumption[(merged_no_consumption['county']==0)&(merged_no_consumption['product_type']==1)&(merged_no_consumption['is_business']==1)]
merged_no_consumption_is_business.corr().loc['target']

county                         NaN
data_block_id             0.655760
target                    1.000000
is_consumption                 NaN
is_business                    NaN
product_type                   NaN
hour                      0.043624
datetime                  0.655765
temperature               0.549414
dewpoint                  0.398838
rain                      0.131240
snowfall                 -0.168567
surface_pressure          0.195036
cloudcover_total         -0.279624
cloudcover_low           -0.368783
cloudcover_mid           -0.087145
cloudcover_high          -0.015645
windspeed_10m            -0.191976
winddirection_10m        -0.032914
shortwave_radiation       0.703120
direct_solar_radiation    0.629012
diffuse_radiation         0.650870
latitude                       NaN
longitude                      NaN
year                      0.475179
month                    -0.186160
day                       0.050228
Name: target, dtype: float64

### 有上图可知天气对商用和非商用用电的影响差别较低，消耗电量都和温度，辐射有高的相似度，和总体云层，最低云层具有较高相似度

# 预测天气部分